*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto Condensed', 'sans-serif';
}

.header{
  width: 100%;
  background-color: white;
  height: 7em;
}

#logo{
  width: 7%;
  float: left;
  margin: 10px 0px 0px 130px;
}

nav{
  font-size: 1.2em;
  font-weight: 700;
  float: right;
  margin: 50px 150px 30px 0px;
}

.header a{
  padding: 30px;
}

.main{
  background-color: black;
  height: 32em;
  width: 100%;
}

#me{
  width: 35%;
  margin: 30px 0px 0px 130px;
}

#copy{
  width: 40%;
  float: right;
  color: white;
  margin: 100px 100px 50px 0px;
}

.footer {
  text-align: center;
  height: 5em;
}

.footer p {
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px;
  margin: 0 auto;
}

#iconE, #iconP, #iconL{
  width: 3%;
  margin: 0px 4px 10px 4px;
}

